<%- include partials/header %>
<!DOCTYPE html>
<html>

<head>
  
<!-- OWN JS and CSS -->
    <link rel="stylesheet" type="text/css" href="myWalletcss.css">

     <style type="text/css">
      .jumbotron{
          padding:50px 60px 60px 50px;
          margin-top: 0px;
          margin-bottom: 0px;
          background:url(jumbotron1.png) no-repeat;
          background-size:100% 100%;
      }
    </style>    
</head>



<body>
  <%- include partials/navigation2 %>
<!--bootstrap for navbar-->
  

<!-- ---------------------- -->

<!-- LOGO-->
	<table>
		<tr id="tableMyWallet">
			<td id="wallet"><img src="/image/wallet.png" alt="wallet"></td>
      <td class="nameandslogan"><h1 id="name">My Wallet</h1>
        <h1 id="slogan">Plan for Your Future</h1>
      </td>
		</tr>
	</table>
<!-- TESTING -->
<!--   <div id="logo-background" class="container">

        <p><img src="wallet.png" alt="wallet"><span id="name" class="nameandslogan" id="wallet">
          &nbsp;My Wallet <br><span id="slogan">&nbsp;Plan for Your Future</span></span></p>
</div> -->
	<p id="flowingword">Trust us. We provide the best service.</p>

<!-- ---------------------- -->

<!-- ---------------------- -->
<main>
<div id="Services">
  <div class="container-fluid content-background">
  <h1 class="content-heading">Try Now !</h1>  
    <div class="content">
        <ul type="none">
          <li>
            <div class="display_function" id ="goals" onclick="link_page(this.id)">
            <span class="fa-stack fa-4x display">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-flag-checkered fa-stack-1x"></i>
          </span><span class="content-font display">Set your financial goals</span></div></li>
          
          <li>
            <div class="display_function" id ="expenses" onclick="link_page(this.id)">
            <span class="fa-stack fa-4x display">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-dollar fa-stack-1x"></i>
          </span><span class="content-font display">Manage daily expenses</span></div></li>

            <li>
            <div class="display_function" id ="reports" onclick="link_page(this.id)">
            <span class="fa-stack fa-4x display">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-area-chart fa-stack-1x icon-color"></i>
          </span><span class="content-font display">Analyze your monthly expenses</span></div></li>
        </ul>
    </div>
  </div>
</div>
</main>



<!-- ---------------------- -->
<!-- Footer -->


<script type="text/javascript" src="myWalletjs.js"></script>
</body>
</html>
<%- include partials/footer %>