<%include partials/header %>
</head>

<!-- Main component for a primary marketing message or call to action -->
<!-- income vs expenses chart-->
<div class="jumbotron">
<div style=" padding-top: 100px;"> </div>
<div style="background-color: #C8EAF7">


<h1 style=" padding-left: 200px; padding-top:5px; font-size: 50px;"> Monthly Summary Report</h1>
<div style="padding-left:400px; padding-top: 30px; padding-bottom: 20px;">
    <button onclick="location.href='2016';"  class="btn btn-primary" type="button"> 2016</button>
    <button onclick="location.href='2017';" class="btn btn-primary" type="button"> 2017</button>
    <button onclick="location.href='2018';" class="btn btn-primary" type="button"> 2018</button>
    
  </div>
<div style="padding-top: 25px;"> </div>
  
  
  
<div height="400" width="600" style="margin-left:200px">
        <canvas id="chart"></canvas>
    </div>
    <div style="float:left;">    
    <script type="text/javascript">
        function goChart(dataArr){
            
            
            var canvas,ctx;
            
            var cWidth, cHeight, cMargin, cSpace;
            
            var radius,ox,oy;
            var tWidth, tHeight;
            var posX, posY, textX, textY;
            var startAngle, endAngle;
            var totleNb;
            
            var ctr, numctr, speed;
            
            var mousePosition = {};
            
            
            var lineStartAngle,line,textPadding,textMoveDis;
        
            
            canvas = document.getElementById("chart");
            if(canvas && canvas.getContext){
                ctx = canvas.getContext("2d");
            }
            initChart(); 
            
            
            function initChart(){
                
                cMargin = 20;
                cSpace = 40;
                
                canvas.width = canvas.parentNode.getAttribute("width")* 2 ;
                canvas.height = canvas.parentNode.getAttribute("height")* 2;
                canvas.style.height = canvas.height/2 + "px";
                canvas.style.width = canvas.width/2 + "px";
                cHeight = canvas.height - cMargin*2;
                cWidth = canvas.width - cMargin*2;
        
                
                radius = cHeight*2/6;  
                ox = canvas.width/2 + cSpace;  
                oy = canvas.height/2;
                tWidth = 60; 
                tHeight = 20; 
                posX = cMargin;
                posY = cMargin;   
                textX = posX + tWidth + 15
                textY = posY + 18;
                startAngle = endAngle = 90*Math.PI/180; 
                rotateAngle = 0; 
    
                //将传入的数据转化百分比
                totleNb = 0;
                new_data_arr = [];
                for (var i = 0; i < dataArr.length; i++){
                    totleNb += dataArr[i][0];
                }
                for (var i = 0; i < dataArr.length; i++){
                    new_data_arr.push( dataArr[i][0]/totleNb );
                }
                totalYNomber = 10;
                
                ctr = 1;
                numctr = 50;
                speed = 1.2; 
                
                //指示线 和 文字
                lineStartAngle = -startAngle;
                line=40;         
                textPadding=10;  
                textMoveDis = 200; 
            }
        
            drawMarkers();
            //绘制比例图及文字
            function drawMarkers(){
                ctx.textAlign="left";
                for (var i = 0; i < dataArr.length; i++){
                    //绘制比例图及文字
                    ctx.fillStyle = dataArr[i][1];
                    ctx.fillRect(posX, posY + 40 * i, tWidth, tHeight);
                    ctx.moveTo(posX, posY + 40 * i);
                    ctx.font = 'normal 24px 微软雅黑';    
                    ctx.fillStyle = dataArr[i][1]; //"#000000";
                    var percent = dataArr[i][2] + "：" + parseInt(100 * new_data_arr[i]) + "%";
                    ctx.fillText(percent, textX, textY + 40 * i);

                }
            };
            
            
            pieDraw();
            function pieDraw(mouseMove){
                
                for (var n = 0; n < dataArr.length; n++){
                    ctx.fillStyle = ctx.strokeStyle = dataArr[n][1];
                    ctx.lineWidth=1;
                    var step = new_data_arr[n]* Math.PI * 2; 
                    var lineAngle = lineStartAngle+step/2;   
                    lineStartAngle += step;
                    
                    ctx.beginPath();
                    var  x0=ox+radius*Math.cos(lineAngle),
                         y0=oy+radius*Math.sin(lineAngle),
                         x1=ox+(radius+line)*Math.cos(lineAngle),
                         y1=oy+(radius+line)*Math.sin(lineAngle),
                         x2=x1,
                         y2=y1,
                         linePadding=ctx.measureText(dataArr[n][2]).width+10; 
                         
                         ctx.moveTo(x0,y0);
                         
                         yMove = y0+(y1-y0)*ctr/numctr;
                         ctx.lineTo(x1,yMove);
                         if(x1<=x0){
                             x2 -= line;
                             ctx.textAlign="right";
                             ctx.lineTo(x2-linePadding,yMove);
                            ctx.fillText(dataArr[n][2],x2-textPadding-textMoveDis*(numctr-ctr)/numctr,y2-textPadding);
                         }else{
                             x2 += line;
                             ctx.textAlign="left";
                             ctx.lineTo(x2+linePadding,yMove);
                            ctx.fillText(dataArr[n][2],x2+textPadding+textMoveDis*(numctr-ctr)/numctr,y2-textPadding);
                         }
                         
                        ctx.stroke();
                        
                }
                
                
                ctx.save();
                ctx.translate(ox, oy);
                ctx.rotate((Math.PI*2/numctr)*ctr/2);
                
                
                ctx.strokeStyle = "rgba(0,0,0,"+ 0.5*ctr/numctr +")"
                ctx.beginPath();
                ctx.arc(0, 0 ,(radius+20)*ctr/numctr, 0, Math.PI*2, false);
                ctx.stroke();
                
                for (var j = 0; j < dataArr.length; j++){
                    
                    
                    endAngle = endAngle + new_data_arr[j]* ctr/numctr * Math.PI * 2; 
                    
                    ctx.beginPath();
                    ctx.moveTo(0,0); 
                    ctx.arc(0, 0, radius*ctr/numctr, startAngle, endAngle, false); 
                    
                    ctx.fillStyle = dataArr[j][1];
                    if(mouseMove && ctx.isPointInPath(mousePosition.x*2, mousePosition.y*2)){
                        ctx.globalAlpha = 0.8;
                    }
                    
                      ctx.closePath();
                      ctx.fill();
                    ctx.globalAlpha = 1;
                    
                    startAngle = endAngle; 
                    if( j == dataArr.length-1 ){
                        startAngle = endAngle = 90*Math.PI/180; 
                    }
                }
                
                ctx.restore();
                    
                if(ctr<numctr){
                    ctr++;
                    setTimeout(function(){
                        //ctx.clearRect(-canvas.width,-canvas.width,canvas.width*2, canvas.height*2);
                        ctx.clearRect(-canvas.width, -canvas.height,canvas.width*2, canvas.height*2);
                        drawMarkers();
                        pieDraw();
                    }, speed*=1.085);
                }
            }
            
            
            var mouseTimer = null;
            canvas.addEventListener("mousemove",function(e){
                e = e || window.event;
                if( e.offsetX || e.offsetX==0 ){
                    mousePosition.x = e.offsetX;
                    mousePosition.y = e.offsetY;
                }else if( e.layerX || e.layerX==0 ){
                    mousePosition.x = e.layerX;
                    mousePosition.y = e.layerY;
                }
                
                clearTimeout(mouseTimer);
                mouseTimer = setTimeout(function(){
                    ctx.clearRect(0,0,canvas.width, canvas.height);
                    drawMarkers();
                    pieDraw(true);
                },10);
            });
            
        }
        
        var chartData1 = [[4,"#2dc6c8","Others"], [10,"#b6a2dd", "Clothing"], [15,"#5ab1ee","Transportation"], [20,"#d7797f","Groceries"],[51,"#FFFFCF","Foods"]];
        var chartData2 = [[3,"#2dc6c8","Others"], [9,"#b6a2dd", "Clothing"], [21,"#5ab1ee","Transportation"], [22,"#d7797f","Groceries"],[45,"#FFFFCF","Foods"]];
        var chartData3 = [[6,"#2dc6c8","Others"], [12,"#b6a2dd", "Clothing"], [18,"#5ab1ee","Transportation"], [25,"#d7797f","Groceries"],[39,"#FFFFCF","Foods"]];
        var chartData4 = [[8,"#2dc6c8","Others"], [9,"#b6a2dd", "Clothing"], [15,"#5ab1ee","Transportation"], [21,"#d7797f","Groceries"],[47,"#FFFFCF","Foods"]];
        var chartData5 = [[10,"#2dc6c8","Others"], [12,"#b6a2dd", "Clothing"], [17,"#5ab1ee","Transportation"], [22,"#d7797f","Groceries"],[39,"#FFFFCF","Foods"]];
        var chartData6 = [[3,"#2dc6c8","Others"], [10,"#b6a2dd", "Clothing"], [16,"#5ab1ee","Transportation"], [23,"#d7797f","Groceries"],[48,"#FFFFCF","Foods"]];

        var chartData7 = [[12,"#2dc6c8","Others"], [13,"#b6a2dd", "Clothing"], [25,"#5ab1ee","Transportation"], [11,"#d7797f","Groceries"],[39,"#FFFFCF","Foods"]];
        var chartData8 = [[17,"#2dc6c8","Others"], [12,"#b6a2dd", "Clothing"], [10,"#5ab1ee","Transportation"], [23,"#d7797f","Groceries"],[38,"#FFFFCF","Foods"]];
        var chartData9 = [[6,"#2dc6c8","Others"], [14,"#b6a2dd", "Clothing"], [15,"#5ab1ee","Transportation"], [25,"#d7797f","Groceries"],[50,"#FFFFCF","Foods"]];
        var chartData10 = [[5,"#2dc6c8","Others"], [7,"#b6a2dd", "Clothing"], [15,"#5ab1ee","Transportation"], [28,"#d7797f","Groceries"],[45,"#FFFFCF","Foods"]];
        var chartData11 = [[5,"#2dc6c8","Others"], [15,"#b6a2dd", "Clothing"], [18,"#5ab1ee","Transportation"], [22,"#d7797f","Groceries"],[40,"#FFFFCF","Foods"]];
        var chartData12 = [[1,"#2dc6c8","Others"], [11,"#b6a2dd", "Clothing"], [22,"#5ab1ee","Transportation"], [24,"#d7797f","Groceries"],[42,"#FFFFCF","Foods"]];
        
        goChart(chartData);


    </script>
    </div>
    <div style="width:100%; padding-left:70px; padding-bottom: 40px;">
        <button <a href="#" onclick="return goChart(chartData1)"  class="btn btn-info" type="button" style="width:15%">January</button>
        <button <a href="#" onclick="return goChart(chartData2)"  class="btn btn-info" type="button" style="width:15%">February</button>
        <button <a href="#" onclick="return goChart(chartData3)"  class="btn btn-info" type="button" style="width:15%">March</button>
        <button <a href="#" onclick="return goChart(chartData4)"  class="btn btn-info" type="button" style="width:15%">April</button>
        <button <a href="#" onclick="return goChart(chartData5)"  class="btn btn-info" type="button" style="width:15%">May</button>
        <button <a href="#" onclick="return goChart(chartData6)"  class="btn btn-info" type="button" style="width:15%">June</button>
        <div style="padding-bottom:5px;"> </div>

        <button <a href="#" onclick="return goChart(chartData7)"  class="btn btn-info" type="button" style="width:15%">July</button>
        <button <a href="#" onclick="return goChart(chartData8)"  class="btn btn-info" type="button" style="width:15%">August</button>
        <button <a href="#" onclick="return goChart(chartData9)"  class="btn btn-info" type="button" style="width:15%">September</button>
        <button <a href="#" onclick="return goChart(chartData10)"  class="btn btn-info" type="button" style="width:15%">October</button>
        <button <a href="#" onclick="return goChart(chartData11)"  class="btn btn-info" type="button" style="width:15%">November</button>
        <button <a href="#" onclick="return goChart(chartData12)"  class="btn btn-info" type="button" style="width:15%">December</button>
    
</div>

</div>
<div style="padding-bottom:50px;">
</div>

<div style="background-color: #C8EAF7">
<h1 style="text-align: center; padding-left: 65px; padding-bottom: 40px; padding-top:50px; font-size: 50px;">Monthly Income Vs Monthly Expenses</h1>
  <div id="chart"> 
  <canvas id="canvas"></canvas>
    </div>
<script>
(function(window, document, undefined) {

    var chart_data = {
      labels: ['January','February','March','April','May','June','July','August','September','October','November','December'],
      datasets: [
        {
          label: 'Income',
          data: [2000,2500,2350,2400,1900,2450,2450,2600,2550,2430,2000,2100],
          backgroundColor: 'rgba(255,0,0,0.5)'
        },
        {
          label: 'Expenses',
          data: [1800,1900,1650,1790,1820,1670,1840,1750,1900,1970,1890,1920],
          backgroundColor: 'rgba(0,0,255,0.5)'
        }
      ]
    }

    var ctx = document.getElementById('canvas').getContext('2d')
    window.my_chart = new Chart(ctx, {
      type: 'bar',
      data: chart_data,
      options: {
        responsive: true,
        legend: {
          position: 'top'
        },
        title: {
          display: true,
          text: 'Monthly Income VS Expenses'
        }
      }
    })
})(window, document)
</script>
</div>
</div>
        
<%include partials/footer %>





