<!-- ---------------------- -->
<!-- Footer -->
	<footer>
   		<i class="fa fa-phone"></i> &nbsp;+603-333 8888 <br>
  		<span class="glyphicon glyphicon-envelope"></span>&nbsp; <a href="mailto:me@gmail.com">myWallet@gmail.com</a><br>
  		<div class="w3-xlarge">
    	<i class="fa fa-facebook-official w3-hover-opacity"></i>
    	<i class="fa fa-instagram w3-hover-opacity"></i>
    	<i class="fa fa-twitter w3-hover-opacity"></i>
    	<i class="fa fa-linkedin w3-hover-opacity"></i>
 		</div>
 	Copyright &copy; 2018 My Wallet
		</footer>

	
    <script type="text/javascript" src="/js/myWalletjs.js"></script>

	</body>
</html>