<!-- Before Login -->
 <nav class="navbar navbar-inverse navbar-fixed-top" id="nav">
        <div class="container-fluid">
        <div class="navbar-header">
          <!-- Collapse button -->
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!-- BrandName -->
           <a class="navbar-brand" href="/MyWallet"><span><img class="img-responsive2" alt="myWallet LOGO" src="/image/wallet.png" width="25px" height="25px">&nbsp;&nbsp;MyWallet</span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

              <% if (title=='MyWallet'){%>
              <li class="active">
              <% } else{%>
              <li>
              <%}%>
              <a href="/MyWallet">Home</a></li>
              <% if (title=='MyWallet'){%>
              <li><a id="info_home">About Us</a></li>
              <li><a id="nav_Ser_home">Services</a></li>
              <% } else{%>
              <li><a id="info">About Us</a></li>
              <li><a id="nav_Ser">Services</a></li>
              <%}%>
            </ul>
            <!-- RIGHT HAND NAVBAR -->
            <ul class="nav navbar-nav navbar-right">
              <% if (title=='Sign up'){%>
              <li class="active">
              <% } else{%>
              <li>
              <%}%>

               <a href="/MyWallet/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>


               <% if (title=='Login'){%>
              <li class="active">
              <% } else{%>
              <li>
              <%}%>

              <a href="/MyWallet/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
  </nav>