<%- include partials/header %>
  	
  	<link rel="stylesheet" type="text/css" href="/myWalletcss.css">

    <style type="text/css">
      .jumbotron{
          padding:50px 60px 60px 60px; 
          margin-top:80px;
          margin-bottom: 80px;
          background-color: #e6f2ff;
      }
    </style>

</head>

<body>
	 <%include partials/navigation1%>

<!-- ---------LOGO------------- -->
	

<!-- ---------main------------- -->
<main>
<!-- Content PART - LOGIN -->
<div class="container">
  <div class="jumbotron"> 
  <p id="smallWalletnName"> <img src="/image/wallet.png" alt="MyWallet LOGO" title="My Wallet"> &nbsp; My Wallet</p>
  
  <table id="loginTbl">
      <!-- 1st row -->
      <tr> 
        <!-- 1st row 1st column -->
        <td class="container jumbotron col-lg-5">
        <h2> Log in </h2>
        <form action ="/login" method="POST"><!-- NEED TO PUT ACTION AND METHOD-->
        <div class="form-group" style="margin-top: 1.5em">
          <label for="email">Email:</label>
          <input type="email" class="form-control" name="username" id="email" placeholder="Email" required="required">
        </div>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" pattern=".{8,}"s name="password" id="pwd" placeholder="Password"  required="required">
          <p id="smallQuestion"> At least 8 characters</p>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        </form>
        </td>
        <!-- 1st row 2ndcolumn -->
        <td class="container jumbotron col-lg-4">
          <div>
            <p>Don't have an account?<br>Welcome to <b>My Wallet!<b><br>Create one to plan for your future!</b><br></p>
            <a href="/MyWallet/signup"><button type="button" class="btn btn-info">Sign Up Now</button></a>
          </div> 
          <div>
          </div>
        </td>
      </tr>
  </table>
  </div>
</div>
</main>
	

<!-- ---------------------- -->
<!-- Footer -->
<% include partials/footer %>