* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

html,body{
	background: #e6f2ff;
}

#nav {
	background-color: #223C54;
	margin: 0;
}

#info_home,#info_login,#info,#nav_Ser, #nav_Ser_home,#nav_Ser_login:hover{
	cursor: pointer;
}
#wallet img{
	width: 300px;
	height: auto;
	padding: 0;
	margin: 0;
	margin-left: 300px;
	margin-top: 40px;
	margin-bottom: 30px;
	float: left;
	/*edited*/
	/*vertical-align: top;*/

}

#slogan {
	font-family: 'Itim', cursive;
	font-size: 50px;
}

#name {
	font-family: 'Overpass', sans-serif;
	font-size: 60px;
}

.nameandslogan {
	color: #FFFFFF;
	float: right;
	margin-left: 40px;
	margin-top: 100px;
	/*edited*/
	/*text-align: center; */
	
}


table {
	margin-top: 50px;
	width: 100%;
	background-color: #98B8D5;
}


/*TESTING*/
/*#logo-background {
	margin-top: 50px;
	width: 100%;
	background-color: #98B8D5;
	vertical-align: middle;
	display: inline-block;
}*/

#flowingword {
	text-align: center;
	background-color: #98B8D5;
	padding-top: 10px;
	padding-bottom: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 20px;
	margin: 0;

}

.cap {
	/*background-color: transparent;*/
	background-color: rgba(0,0,0,0.6);
	color: #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}

.finance {
	width: 100%;
	height: 25em;
}

.aboutus {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 20%;
}

#smallQuestion {
	font-style: italic;
	font-size: small;
}

#smallWalletnName {
	text-align: center;
	font-family: 'Overpass', sans-serif;
	font-size: 30px;
}

#smallWalletnName img {
	align-content: center;
	width: 40px;
	height: 40px;
	}

#loginTbl{
	background-color: #e6f2ff;
}
h2{
	font-size: 28px;
}

footer{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-family: 'Nunito', sans-serif;
	font-size: small;
	background-color: #98B8D5;
}

.content{
	padding-top: 30px;
	padding-bottom: 60px;
	display: inline-block;
	text-align: left;
	font-size: x-large;
}

.content-background{
	background-color: #e6f2ff;
	text-align: center;
}

.icon-background{
	color:#cce6ff;
}
.icon-color{
	color: black;
}

.content-heading{
	padding-top:70px; 
	font-style: bold;
	font-size: 70px;
	font-family: 'Amaranth', sans-serif;
}

.content-font{
	font-family: 'Amaranth', sans-serif;
	font-size: 30px;
	font-style: normal;
}

.display{
	display:inline-block;
}

input[type=number], select, input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


.dailyform {
	margin: 100px;
    border-radius: 5px;
    /*background-color: #f2f2f2;*/
    background-color: rgba(204,230,255,0.5);
    padding: 50px;
}

#dailyexpenses {
	padding-top: 15px;
	padding-bottom: 10px;
}

#expensesTable td, #expensesTable th{
	padding: 10px 20px;

}




















@media only screen and (max-width: 971px) {
#wallet img {
	width: 150px;
	height: auto;
	padding: 0;
	margin: 0;
	margin-left: 100px;
	margin-top: 30px;
	margin-bottom: auto;
	float: left;
}

#slogan {
	font-family: 'Itim', cursive;
	font-size: 30px;
}

#name {
	font-family: 'Overpass', sans-serif;
	font-size: 40px;
}

.nameandslogan {
	color: #FFFFFF;
	float: right;
	margin-right:30px;
	margin-top: 50px;
	text-align: center;
}


table {
	width: 100%;
	background-color: #98B8D5;
}

tr {
	display: inline-block;
	padding-top: 20px; 
}

#flowingword {
	text-align: center;
	background-color: #98B8D5;
	padding-top: 30px;
	padding-bottom: 20px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 15px;
}

.content{
	text-align: center;
	font-size:large;
	float:left;
}

.content-heading{
	font-style: bold;
	font-size: 35px;
	font-family: 'Amaranth', sans-serif;
}

.content-font{
	clear: left;
	font-size: 25px;
}

.content-background{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.finance {
	width: 100%;
	height: 15em;
}